<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>


   <div class="min-vh-100 w-100 d-flex justify-content-center "
      style="background-color: rgb(242, 243, 243); margin-left: 14%;">
      <div class=" d-flex flex-column spacingContentNavBarre" style="width : 45%;">
         <form action="" method="post" enctype="multipart/form-data" id="modifyForm">
            <div class="d-flex mb-2" style="height:440px">
               <div class=" h-100 d-flex flex-column mr-1" style="width : 30%;">
                  <div class="h-50 bg-white rounded border mr-1 mb-1 d-flex justify-content-center align-items-center">
                     <div class="w-75">
                        <div class="w-100 text-center mb-2 h-25 d-flex justify-content-around ">
                           <img src="/images/organisateur.png" width="45" height="45">
                           <div class="fw-bold fs-4 d-flex align-items-center">Organisateur</div>
                        </div>
                        <div class="text-center h-75 d-flex align-items-center justify-content-center fst-italic fs-5">
                           <%= user.nom %>
                              <%= user.prenom %>
                        </div>
                     </div>
                  </div>
                  <div
                     class="h-50 bg-white rounded border mr-1 d-flex align-items-center justify-content-center fs-5 flex-column">

                  </div>
               </div>
               <div class="position-relative containerImg cursor-pointer" style="width:70%; height:100%;"
                  id="imgToInputFile">
                  <img class="w-100 h-100 rounded border mx-1 custom-shadow" id="imagePreview"
                     src="/images/illustration.jpg">
                  <div class="overlay border p-2 border-white">Télécharger la photo illustrant l'évènement
                  </div>
               </div>
            </div>
            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 d-flex flex-column ">
               <label class="border-b mb-2 fw-bold fs-5" for="titre">Nom de l'évènement :</label>
               <input type="text" class="w-100 bg-white rounded border px-2 py-3 fw-bold fs-5" name="titre" id="titre"
                  placeholder="Choisir un nom pour votre évènement">
            </div>
            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 d-flex flex-column ">
               <label class="border-b mb-2 fw-bold fs-5" for="lieu">Lieu de l'évènement :</label>
               <input type="text" class=" w-100 bg-white rounded border px-2 py-3 fs-5" name="lieu" id="lieu"
                  placeholder="Choisissez le lieu de votre évènement">
            </div>

            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 d-flex flex-column ">
               <label class="border-b mb-2 fw-bold fs-5" for="motsCles">Mots clés associés à
                  l'évènement
                  :</label>
               <select class="form-select form-select-solid" id="motsCles" name="motsCles[]" multiple="multiple"
                  style="width: 100%" data-hide-search="true">
                  <% motsCles.forEach(mot=> { %>
                     <option value="<%= mot.id %>">
                        <%= mot.nom %>
                     </option>
                     <% }); %>
               </select>
            </div>
            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 d-flex flex-column ">
               <label class="border-b mb-2 fw-bold fs-5" for="description">Description de
                  l'évènement</label>
               <textarea class="p-3 rounded border fs-6" name="description" id="description">
                               </textarea>
            </div>
            <div class="d-flex justify-content-center mb-2 w-100 bg-white rounded border px-2 py-3">
               <div class="w-50 d-flex flex-column">
                  <div>
                     <div class="mb-2 px-1 fs-5 fw-bold">
                        Début de l'évènement :
                     </div>
                     <div class="w-75 mx-1 p-1  d-flex justify-content-between  cursor-pointer dateForm"
                        id="dateDebutDiv">
                        <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold "
                           id="debutEvenementJour">
                           01
                        </div>
                        <div class="w-50 d-flex flex-column justify-content-center ">
                           <div class="fw-bold d-flex">
                              <div id="debutEvenementMois" class="me-1">Janvier</div>
                              <div id="debutEvenementAnnee"> 2024</div>
                           </div>
                           <div id="debutEvenementHeure">
                              00:00
                           </div>
                        </div>
                        <div class="w-25 d-flex  justify-content-center align-items-center">
                           <img src="/images/plus.png" width="40" height="40">
                        </div>
                     </div>
                  </div>
                  <div class="p-1 text-danger fw-bold fs-6 d-none" id="messageDateDebut">La date doit être inférieure à celle de fin d'évènement
                  </div>
               </div>
               <div class="w-50 d-flex flex-column">
                  <div>
                     <div class="mb-2 px-1 fs-5 fw-bold">
                        Fin de l'évènement :
                     </div>
                     <div class="w-75 mx-1 p-1  d-flex justify-content-between cursor-pointer dateForm "
                        id="dateFinalDiv">

                        <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold "
                           id="finEvenementJour">
                           01
                        </div>
                        <div class="w-50 d-flex flex-column justify-content-center ">
                           <div class="fw-bold d-flex">
                              <div id="finEvenementMois" class="me-1">Janvier</div>
                              <div id="finEvenementAnnee"> 2024</div>
                           </div>
                           <div id="finEvenementHeure">
                              00:00
                           </div>

                        </div>
                        <div class="w-25 d-flex  justify-content-center align-items-center">
                           <img src="/images/plus.png" width="40" height="40">
                        </div>
                     </div>
                  </div>
                  <div class="p-1 text-danger fw-bold fs-6 d-none" id="messageDateFin">La date doit être inférieure à celle de fin d'évènement
                  </div>
               </div>
            </div>
            <div class="d-flex flex-column justify-content-center mb-2 w-100 bg-white rounded border px-2 py-3 mb-1">
               <div class="w-100 d-flex">
                  <div class="w-50 d-flex flex-column">
                     <div>
                        <div class="mb-2 px-1 fs-5 fw-bold">
                           Date limite d'inscription :
                        </div>
                        <div class="w-75 mx-1 p-1 d-flex justify-content-between cursor-pointer dateForm "
                           id="dateInscriptionDiv">

                           <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold "
                              id="inscriptionEvenementJour">
                              01
                           </div>
                           <div class="w-50 d-flex flex-column justify-content-center ">
                              <div class="fw-bold d-flex">
                                 <div id="inscriptionEvenementMois" class="me-1">Janvier</div>
                                 <div id="inscriptionEvenementAnnee"> 2024</div>
                              </div>
                              <div id="inscriptionEvenementHeure">
                                 00:00
                              </div>

                           </div>
                           <div class="w-25 d-flex  justify-content-center align-items-center">
                              <img src="/images/plus.png" width="40" height="40">
                           </div>
                        </div>
                     </div>
                     <div class="p-1 text-danger fw-bold fs-6 d-none" id="messageDateLimite"  >La date doit être inférieure à celle de fin d'évènement
                     </div>

                  </div>
                  <div class="w-50">

                     <div class="mb-2 px-1 fs-5 fw-bold">
                        Places maximum :
                     </div>
                     <input type="number" class="w-75 mx-1 p-1  fs-1" name="nbParticipants" id="nbParticipants">
                  </div>
               </div>
               <div class="d-flex justify-content-center w-100 bg-white  border-top mt-4">
                  <button class="w-50 mt-3 btn btn-primary mb-3 fs-4 "> Ajouter
                     l'évènement</button>

               </div>

            </div>
            <input type="file" id="fileInput" name="photo" style="display: none;">
            <input type="datetime-local" id="dateDebutInput" name="dateDebut" class="invisible">
            <input type="datetime-local" id="dateFinalInput" name="dateFin" class="invisible">
            <input type="datetime-local" id="dateInscriptionInput" name="dateInscription" class="invisible">

         </form>



      </div>
      <script>
         document.getElementById('modifyForm').addEventListener('submit', function (e) {
            // Vérifier si la touche pressée est "Entrée"
            if (e.key === 'Enter') {
               e.preventDefault(); // Empêcher la soumission du formulaire
            }
         });

         $(document).ready(function () {
            $('#motsCles').select2({
               placeholder: "Selectionner des mots clés",
               allowClear: true
            });
         });
         document.getElementById('fileInput').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
               const reader = new FileReader();
               reader.onload = function (e) {
                  const preview = document.getElementById('imagePreview');
                  preview.src = e.target.result;
                  preview.style.display = 'block';
               }
               reader.readAsDataURL(file);
            }
         });
      </script>
      <script src="/accueil.js" onload="initAccueil()"></script>
   </div>

   <%- include('./shared/footer.ejs')%>