<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' }) %>
    <div class="min-vh-100 w-100 d-flex flex-column align-items-center "
        style="background-color: rgb(242, 243, 243); margin-left: 14%;">
        <div class="spacingContentNavBarre">
            <h2 class="mt-2 mb-2 fw-bold">
                <% const participantsList=discussion.participants.filter(participant=> participant.id !==
                    user.id).map(participant => `${participant.nom} ${participant.prenom}`); %>
                    <%= participantsList.join(', ') %>
        </h2>
        </div>
        <div class="w-50 d-flex flex-column align-items-center position-relative  bg-discussion"
            id="conteneurMessage" style="max-height: 910px; height: 910px ;overflow-y: auto; padding: 10px;">
            
        <div class="d-flex flex-column w-100">
            <% let jourMessageAvant = null; let moisMessageAvant = null; %>
            <% discussion.messages.forEach(message => { %>
                <% if (jourMessageAvant !== message.sent_at.jour) { %>
                    <div class="w-100 d-flex justify-content-center mb-4 fs-4 mt-4 indicationJourDiscussion">
                            <%= message.sent_at.jour %> <%= message.sent_at.moisNom %> <%= message.sent_at.annee %>
                    </div>
                <% } %>
                <% if (message.sender_id === user.id) { %>
                    <div class="d-flex w-100 justify-content-start mb-3">
                        <div class="me-3 fs-5 align-items-end d-flex">
                            <img src="/images/<%= message.photo %>" width="50" height="50" class="rounded-circle border border-secondary p-1 bg-white ">
                        </div>
                        <div class="me-3 fs-5 d-flex align-items-end">
                            <div class=" px-3 py-2 messageDiscussionUser"><%= message.message_text %></div>
                        </div>
                        <div class="fs-5 d-flex align-items-end me-3 ">
                            <div class="fw-bold me-1">⸱</div>
                            <div><%= message.sent_at.heures %>:<%= message.sent_at.minutes %></div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="d-flex w-100 justify-content-end mb-2">
                        <div class="me-3 fs-5 d-flex align-items-end">
                            <div class=" px-3 py-2 messageDiscussionAutre"><%= message.message_text %></div>
                        </div>
                        <div class="me-3 fs-5 align-items-end d-flex">
                            <a href="/profil/<%= message.sender_id%>">
                            <img src="/images/<%= message.photo %>" width="50" height="50" class="rounded-circle border border-secondary p-1 bg-white ">
                        </a>
                    </div>
                        <div class="fs-5 d-flex align-items-end me-3">
                            <div class="fw-bold me-1">⸱</div>
                            <div><%= message.sent_at.heures %>:<%= message.sent_at.minutes %></div>
                        </div>
                    </div>
                <% } %>
                <% jourMessageAvant = message.sent_at.jour %>
                <% moisMessageAvant = message.sent_at.mois %>
            <% }); %>
        </div>
        
    </div><div class="w-50 d-flex justify-content-center ">
            <div class="w-75 d-flex justify-content-center">
                <div class="w-100 d-flex justify-content-between align-items-center mt-4">
                    <form action="" method="post" class="w-100">
                        <input type="text" name="message" class="px-3 p-2 rounded-pill" style="width: 80%;">
                        <button type="submit" class="mb-4 px-2 p-2 rounded-pill buttonDiscussion fw-bold fs-5 ms-5" style="width: 12.5%;">Send <i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
</div>
<script>
    $(document).ready(function () {
        function scrollToBottom() {
            const $conteneur = $(' #conteneurMessage'); if ($conteneur.prop('scrollHeight') > 1050) {
                $conteneur.scrollTop($conteneur.prop('scrollHeight'));
            }
        }

        // Appeler la fonction après avoir ajouté un nouveau message ou mis à jour le contenu
        scrollToBottom();
    });

</script>
                        <%- include('./shared/footer.ejs') %>