<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>
    <div class=" w-100 d-flex justify-content-center" style="background-color: rgb(242, 243, 243);">
        <div class=" mt-5" style="width: 80%;">
            <div class="row row-cols-3 mx-1 ">
                <% for (const evenement of evenements) { %>
                    <!-- <div class="col mb-3 hover-overlay position-relative rounded ">
                        <%- include('./shared/evenement.ejs', {evenement}) %>

                    </div> -->
                    
                        <div class="col mb-3 hover-overlay position-relative rounded">
                            <a  href="/evenement/<%= evenement.id %>" class="text-decoration-none text-black">
                            <%- include('./shared/evenement.ejs', {evenement}) %>
                        </a>
                        </div>
                    
                    <% } %>
            </div>
        </div>
    </div>

    <%- include('./shared/footer.ejs')%>