<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>
    <style>
        #userTable_wrapper {
            width: 100%;
        }

        #userTable_filter .form-control {
            width: 400px;
            font-size: large;
        }
    </style>
    <div class="min-vh-100 w-100 d-flex flex-column align-items-center" style="background-color: rgb(242, 243, 243); margin-left: 14%">
        <div class="d-flex justify-content-center fs-1 fw-bold spacingContentNavBarre"> Mes participations</div>
        <div class="mt-3 w-75 d-flex justify-content-center ">
            <table id="userTable" class="table table-striped table-bordered w-100">
                <thead>
                    <tr>
                        <th class="fs-5 fw-bold">Photo</th>
                        <th class="fs-5 fw-bold">Évènement</th>
                        <th class="fs-5 fw-bold">Lieu</th>
                        <th class="fs-5 fw-bold">Début de l'évènement</th>
                        <th class="fs-5 fw-bold">Fin de l'évènement</th>
                        <th class="fs-5 fw-bold">Participants</th>
                        <th class="fs-5 fw-bold">Statut</th>
                        <th class="fs-5 fw-bold">Évaluation</th>
                    </tr>
                </thead>
                <tbody>
                    <% evaluations.forEach(evaluation=> { %>
                        <tr>
                            <td class="d-flex justify-content-center">
                                <img src="/images/<%= evaluation.photo %>" alt="" width="110" height="70">
                            </td>
                            <td class="fs-5">
                                <%= evaluation.titre %>
                            </td>
                            <td class="fs-5">
                                <%= evaluation.nom_ville %>
                            </td>
                            <td class="fs-5">
                                <%= evaluation.date_debut.jour %>
                                    <%= evaluation.date_debut.moisNom %>
                                        <%= evaluation.date_debut.annee %>
                            </td>
                            <td class="fs-5">
                                <%= evaluation.date_fin.jour %>
                                    <%= evaluation.date_fin.moisNom %>
                                        <%= evaluation.date_fin.annee %>
                            </td>
                            <td class="fs-5">
                                <%= evaluation.nbParticipants %>
                            </td>
                            <td class="fs-5">
                                <% if(evaluation.statut_id===2){ %>
                                    Terminé
                                    <% } else { %>
                                        En cours
                                        <% } %>
                            </td>
                            <td class="fs-5  <% if(evaluation.statut_id !== 2){  %> text-danger<% } %>">
                                <% if(evaluation.statut_id !==2){ %>
                                    Évènement en cours
                                    <% } else { %>
                                        
                                            <a href="/evaluations/evenement/<%= evaluation.evenement_id%>">
                                                <% if(evaluation.evaluation_count===1){ %> 
                                                    Évaluation faites
                                                    <% } else {%>
                                                    Évaluer l'évènement
                                            </a>
                                                <% } %>
                                                    <% } %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable();
        });
    </script>
    <%- include('./shared/footer.ejs')%>