<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">

    <title>Document</title>
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- jQuery (nécessaire pour Select2) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
    <%- include('./shared/navBarre.ejs')%>

        <h1 class="w-100 text-center my-4"> Modifier l'évènement : <%= evenement.titre %>
        </h1>
        <div class="w-100 d-flex justify-content-center">

            <div class="card mt-2 px-2 w-50">
                <% if (locals.user) {%>
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group mb-2">
                            <label class="mb-2" for="titre">Nom de l'évènement</label>
                            <input type="text" class="form-control" name="titre" id="titre"
                                value="<%= evenement.titre %>">
                        </div>
                        <div class="form-group mb-2">
                            <label class="mb-2" for="lieu">Lieu</label>
                            <input type="text" class="form-control" name="lieu" id="lieu" value="<%= evenement.lieu %>">
                        </div>
                        <div class="form-group mb-2">
                            <label class="mb-2" for="description">Description</label>
                            <input type="text" class="form-control" name="description" id="description"
                                value="<%= evenement.description%>">
                        </div>
                        <div class="form-group mb-2">
                            <label class="mb-2" for="motsCles">Mots clés associés à l'évènement</label>
                            <select class="form-select form-select-solid" id="motsCles" name="motsCles[]" multiple="multiple" style="width: 100%" data-hide-search="true">
                                <% for (const mot of motsCles) { %>
                                    <% const isSelected = evenement.motsCles.some(motSelect => motSelect.id === mot.id); %>
                                    <option value="<%= mot.id %>" <%= isSelected ? 'selected' : '' %>><%= mot.nom %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group mb-2">
                            <label class="mb-2" for="photo">Photo illustrant l'évènement</label>
                            <input type="file" class="form-control" name="photo" id="photo" >
                        </div>
                        <div class="form-group mb-2">
                            <label class="mb-2" for="dateFinal">Date finale d'inscription</label>
                            <input type="date" class="form-control" name="dateFinal" id="dateFinal"
                                value="<%= evenement.date_final_inscription %>">
                        </div>
                        <div class="form-group mb-2 ">
                            <label class="mb-2" for="dateDebut">Date de début de l'évènement</label>
                            <input type="date" class="form-control" name="dateDebut" id="dateDebut"
                            value="<%= evenement.date_debut_evenement %>">
                        </div>
                        <div class="form-group mb-2 ">
                            <label class="mb-2" for="dateFin">Date de fin de l'évènement</label>
                            <input type="date" class="form-control" name="dateFin" id="dateFin"
                            value="<%= evenement.date_fin_evenement %>">
                        </div>
                        <div class="form-group mb-2 ">
                            <label class="mb-2" for="nbParticipants">Nombres de participants maximum</label>
                            <input type="number" class="form-control" name="nbParticipants" id="nbParticipants"
                            value="<%= evenement.nb_participants_max %>">
                        </div>
                        <div class="w-100 d-flex justify-content-center">
                            <button class=" mt-3 btn btn-primary mb-3"> Créer l'évènement</button>

                        </div>
                    </form>
                    <% } %>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#motsCles').select2({
                    placeholder: "Selectionner des mots clés",
                    allowClear: true
                });
            });
        </script>
        <%- include('./shared/footer.ejs')%>