<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>
        <div class=" w-100 d-flex justify-content-center " style="background-color: rgb(242, 243, 243);">
        
            <div class="form-body">
                <div class="row">
                    <div class="form-holder">
                        <div class="form-content">
                            <div class="form-items">
                                <h3 class="fs-2">Modification de vos informations</h3>
                                <form action="" method="post" enctype="multipart/form-data">

                                    <div class="col-md-12">
                                        <label for="nom" class="fs-5 fw-bold mb-2">Nom</label>
                                        <input class="form-control" type="text" name="nom" placeholder="Nom" value="<%= userProfil.nom  %>"
                                            required>
                                        <div class="valid-feedback">Username field is valid!</div>
                                        <div class="invalid-feedback">Username field cannot be blank!</div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="prenom" class="fs-5 fw-bold mb-2">Prénom</label>
                                        <input class="form-control" type="text" name="prenom" placeholder="Prénom" value="<%= userProfil.prenom  %>"
                                            required>
                                        <div class="valid-feedback">Username field is valid!</div>
                                        <div class="invalid-feedback">Username field cannot be blank!</div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="email" class="fs-5 fw-bold mb-2">Email</label>
                                        <input class="form-control" type="email" name="email"
                                            placeholder="E-mail Address" value="<%= userProfil.email  %>" required>
                                        <div class="valid-feedback">Email field is valid!</div>
                                        <div class="invalid-feedback">Email field cannot be blank!</div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="photo" class="fs-5 fw-bold mb-2">Photo de profil</label>
                                        <input class="form-control" type="file" name="photo" placeholder="E-mail Address" >
                                        <div class="valid-feedback">Photo field is valid!</div>
                                        <div class="invalid-feedback">Photo field cannot be blank!</div>
                                    </div>
                                    <div class="form-button mt-3">
                                        <button id="submit" type="submit" class="btn btn-primary fs-5">Modifier les
                                            informations</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    <%- include('./shared/footer.ejs')%>