<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>
   <!-- Inclure le CSS de Flatpickr depuis un CDN -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
   <!-- Inclure le CSS de Flatpickr en Français depuis un CDN -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
   <link rel="stylesheet" href="/styleSlider.css">

   <div class="min-vh-100 w-100 d-flex justify-content-center "
      style="background-color: rgb(242, 243, 243); margin-left: 14%;">
      <div class=" d-flex flex-column spacingContentNavBarre" style="width : 45%;">
         <form action="" method="post" enctype="multipart/form-data" id="modifyForm">
            <div class="d-flex mb-2" style="height:440px">
               <div class=" h-100 d-flex flex-column mr-1" style="width : 30%;">
                  <div
                     class="h-50 bg-white rounded border mr-1 d-flex align-items-center justify-content-center fs-5 flex-column">
                     <% if(evenement.statut_id==1){%>
                        <button class="btn btn-primary fs-5 " style="width: 90%;">
                           <a href="/cancel/<%= evenement.id%>" class="text-decoration-none text-white">
                              Annuler
                              l'évènement</a></button>
                        <% } %>
                           <% if(evenement.statut_id==3){%>

                              <button class=" btn btn-primary fs-5 " style="width: 90%;">
                                 <a href="/activate/<%= evenement.id%>" class="text-decoration-none text-white">
                                    Réactiver
                                    l'évènement</a></button>
                              <% } %>

                                 <button class="btn btn-primary fs-5 " style="width: 90%;">
                                    <a href="/delete/<%= evenement.id%>" class="text-decoration-none text-white">
                                       Supprimer l'évènement
                                    </a></button>
                  </div>
                  <div
                     class="h-50 bg-white rounded border mr-1 d-flex align-items-center justify-content-center fs-5 flex-column">
                     <div class="w-100 p-1">
                        <div class="h-50 d-flex align-items-center text-center fs-5 fw-bold mb-2">
                           <label for="allow_registration_during_event ">Permettre l'inscription pendant l'événement
                              :</label>
                        </div>
                        <div class="h-50 w-100 d-flex justify-content-center align-items-center">
                           <li class="list-group-item border-0">
                              <label class="switch ">
                                 <input type="checkbox" id="checkboxInscription" class="default "
                                    name="checkboxInscription" onchange="handleCheckboxChange()"
                                    value="<%= evenement.participation_pendant_evenement %>"
                                    <%=evenement.participation_pendant_evenement==1 ? 'checked' : '' %>>
                                 <span class="slider"></span>
                              </label>
                           </li>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="position-relative containerImg cursor-pointer" style="width:70%; height:100%;"
                  id="imgToInputFile">
                  <img class="w-100 h-100 rounded border mx-1 custom-shadow" id="imagePreview"
                     src="/images/<%= evenement.photo%>">
                  <div class="overlay border p-2 border-white">Télécharger la photo illustrant l'évènement
                  </div>
               </div>
            </div>
            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 d-flex flex-column ">
               <label class="border-b mb-2 fw-bold fs-5" for="titre">Nom de l'évènement :</label>
               <input type="text" class="w-100 bg-white rounded border px-2 py-3 fw-bold fs-5" name="titre" id="titre"
                  placeholder="Choisir un nom pour votre évènement" value="<%= evenement.titre %>" maxlength="30">
            </div>
            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 d-flex flex-column ">
               <div class="d-flex justify-content-around">
                  <label class="border-b mb-2 fw-bold fs-5" for="lieu">Lieu de l'évènement :</label>
                  <label class="border-b mb-2 fw-bold fs-5" for="lieu">Sélectionner le lieu :</label>
               </div>
               <div class="d-flex justify-content-around">
                  <div style="width: 40%;">
                     <input type="text" class=" w-100 bg-white rounded border px-2 py-3 fs-6" name="lieu" id="lieu"
                        placeholder="Écriver le nom du lieu de l'évènement" value="<%= evenement.adresse%>">
                  </div>
                  <div style="width: 40%;">
                     <select class="form-select h-100 w-100" aria-label="Default select example" id="selectVille">
                        <option selected>Sélectionner un lieu</option>
                     </select>
                  </div>
               </div>
            </div>
            <input type="text" name="ville" id="ville" class="d-none" value="<%= evenement.nom_ville%>">
            <input type="text" name="longitude" id="longitude" class="d-none" value="<%= evenement.longitude%>">
            <input type="text" name="latitude" id="latitude" class="d-none" value="<%= evenement.latitude%>">
            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 d-flex flex-column ">
               <label class="border-b mb-2 fw-bold fs-5" for="motsCles">Mots clés associés à
                  l'évènement
                  :</label>
               <select class="form-select form-select-solid" id="motsCles" name="motsCles[]" multiple="multiple"
                  style="width: 100%" data-hide-search="true">
                  <% motsCles.forEach(mot=> { %>
                     <% const isSelected=evenement.motsCles.includes(String(mot.nom)); %>
                        <option value="<%= mot.id %>" <%=isSelected ? 'selected' : '' %>><%= mot.nom %>
                        </option>
                        <% }); %>
               </select>
            </div>
            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 d-flex flex-column ">
               <label class="border-b mb-2 fw-bold fs-5" for="description">Description de
                  l'évènement</label>
               <textarea class="p-3 rounded border fs-6" name="description"
                  id="description"> <%= evenement.description %> </textarea>
            </div>
            <div class="d-flex justify-content-center mb-2 w-100 bg-white rounded border px-2 py-3">
               <div class="w-50 ">

                  <div class="mb-2 px-1 fs-5 fw-bold d-flex">
                     <div>Début de l'évènement :</div>
                     <div>
                        <input type="text" id="datePickerDebut" class="form-control invisible"
                           value="<%= evenement.date_debut_evenement.annee%>-<%= evenement.date_debut_evenement.mois %>-<%= evenement.date_debut_evenement.jour %>T<%= evenement.date_debut_evenement.heures %>:<%= evenement.date_debut_evenement.minutes %>">
                     </div>

                  </div>
                  <div class="w-75 mx-1 p-1  d-flex justify-content-between  cursor-pointer dateForm" id="dateDebutDiv">
                     <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold "
                        id="debutEvenementJour">
                        <%= evenement.date_debut_evenement.jour %>
                     </div>
                     <div class="w-50 d-flex flex-column justify-content-center ">
                        <div class="fw-bold d-flex">
                           <div id="debutEvenementMois" class="me-1">
                              <%= evenement.date_debut_evenement.moisNom %>
                           </div>
                           <div id="debutEvenementAnnee">
                              <%= evenement.date_debut_evenement.annee %>
                           </div>
                        </div>
                        <div id="debutEvenementHeure">
                           <%= evenement.date_debut_evenement.heures %>:<%= evenement.date_debut_evenement.minutes %>
                        </div>
                     </div>
                     <div class="w-25 d-flex  justify-content-center align-items-center">
                        <img src="/images/plus.png" width="40" height="40">
                     </div>
                  </div>
               </div>
               <div class="w-50">

                  <div class="mb-2 px-1 fs-5 fw-bold d-flex">
                     <div>Fin de l'évènement :</div>
                     <div>
                        <input type="text" id="datePickerFin" class="form-control invisible"
                           value="<%= evenement.date_fin_evenement.annee%>-<%= evenement.date_fin_evenement.mois %>-<%= evenement.date_fin_evenement.jour %>T<%= evenement.date_fin_evenement.heures %>:<%= evenement.date_fin_evenement.minutes %>">
                     </div>

                  </div>
                  <div class="w-75 mx-1 p-1  d-flex justify-content-between cursor-pointer dateForm " id="dateFinalDiv">

                     <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold "
                        id="finEvenementJour">
                        <%= evenement.date_fin_evenement.jour %>
                     </div>
                     <div class="w-50 d-flex flex-column justify-content-center ">
                        <div class="fw-bold d-flex">
                           <div id="finEvenementMois" class="me-1">
                              <%= evenement.date_fin_evenement.moisNom %>
                           </div>
                           <div id="finEvenementAnnee">
                              <%= evenement.date_fin_evenement.annee %>
                           </div>
                        </div>
                        <div id="finEvenementHeure">
                           <%= evenement.date_fin_evenement.heures %>:<%= evenement.date_fin_evenement.minutes %>
                        </div>

                     </div>
                     <div class="w-25 d-flex  justify-content-center align-items-center">
                        <img src="/images/plus.png" width="40" height="40">
                     </div>
                  </div>
               </div>
            </div>
            <div class="d-flex flex-column justify-content-center mb-2 w-100 bg-white rounded border px-2 py-3 mb-1">
               <div class="w-100 d-flex">
                  <div class="w-50">

                     <div class="mb-2 px-1 fs-5 fw-bold">
                        Places maximum :
                     </div>
                     <input type="number" class="w-75 mx-1 p-1  fs-1" name="nbParticipants" id="nbParticipants"
                        value="<%= evenement.nb_participants_max %>">
                  </div>
                  <div class="w-50 d-flex flex-column">
                     <div class="<%if(evenement.participation_pendant_evenement === 1 ){%> invisible<%}%>"
                        id="date_limite_inscription_div">

                        <div class="mb-2 px-1 fs-5 fw-bold d-flex">
                           <div>Date limite d'inscription :
                           </div>
                           <div>
                              <% if(evenement.participation_pendant_evenement==1){ %>
                                 <input type="text" id="datePickerInscription" class="form-control invisible">
                                 <% } else {%>
                                    <input type="text" id="datePickerInscription" class="form-control invisible"
                                       value="<%= evenement.date_final_inscription.annee%>-<%= evenement.date_final_inscription.mois %>-<%= evenement.date_final_inscription.jour %>T<%= evenement.date_final_inscription.heures %>:<%= evenement.date_final_inscription.minutes %>">
                                    <% } %>
                           </div>
                        </div>
                        <div class="w-75 mx-1 p-1 d-flex justify-content-between cursor-pointer dateForm "
                           id="dateInscriptionDiv">

                           <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold "
                              id="inscriptionEvenementJour">
                              <% if(evenement.participation_pendant_evenement==1){ %>
                                 01
                                 <% } else {%>
                                    <%= evenement.date_final_inscription.jour %>

                                       <% } %>
                           </div>
                           <div class="w-50 d-flex flex-column justify-content-center ">
                              <div class="fw-bold d-flex">
                                 <div id="inscriptionEvenementMois" class="me-1">
                                    <% if(evenement.participation_pendant_evenement==1){ %>
                                       Janvier
                                       <% } else {%>
                                          <%= evenement.date_final_inscription.moisNom %>

                                             <% } %>
                                 </div>
                                 <div id="inscriptionEvenementAnnee">
                                    <% if(evenement.participation_pendant_evenement==1){ %>
                                       2024
                                       <% } else {%>
                                          <%= evenement.date_final_inscription.annee %>

                                             <% } %>
                                 </div>
                              </div>
                              <div id="inscriptionEvenementHeure">
                                 <% if(evenement.participation_pendant_evenement==1){ %>
                                    00:00
                                    <% } else {%>
                                       <%= evenement.date_final_inscription.heures %>:<%=
                                             evenement.date_final_inscription.minutes %>
                                             <% } %>

                              </div>

                           </div>
                           <div class="w-25 d-flex  justify-content-center align-items-center">
                              <img src="/images/plus.png" width="40" height="40">
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
               <div class="d-flex justify-content-center w-100 bg-white  border-top mt-4">
                  <button class="w-50 mt-3 btn btn-primary mb-3 fs-4 " id="submitButton"> Modifier
                     l'évènement</button>
               </div>
            </div>
            <input type="file" id="fileInput" name="photo" style="display: none;">
            <input type="datetime-local" id="dateDebutInput" name="dateDebut" class="invisible"
               value="<%= evenement.dateDebutEvenementInput%>">
            <input type="datetime-local" id="dateFinalInput" name="dateFin" class="invisible"
               value="<%= evenement.dateFinEvenementInput%>">
            <input type="datetime-local" id="dateInscriptionInput" name="dateInscription" class="invisible"
               value="<%= evenement.dateFinalInscriptionInput%>">
               <input type="text" class="invisible" id="inscriptionCheckbox" name="inscriptionCheckbox" value="<%if(evenement.participation_pendant_evenement == 1){%>true<% } else {%>false<%}%>">

         </form>



      </div>
      <!-- Inclure le JS de Flatpickr depuis un CDN -->
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      <!-- Inclure le fichier de langue français pour Flatpickr depuis un CDN -->
      <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>

      <!-- Initialiser Flatpickr avec la langue française -->
      <script>
          document.querySelectorAll("input").forEach(function (input) {
            input.addEventListener("keydown", function (e) {
               if (e.key === "Enter") {
                  e.preventDefault(); // Empêche l'action par défaut pour "Entrée"
               }
            });
         });

         document.getElementById('modifyForm').addEventListener('submit', function (e) {
            // Assurez-vous que ce code n'est pas bloqué par la validation des éléments de formulaire
            e.preventDefault(); // Empêcher la soumission du formulaire pour déboguer
         });
         document.getElementById('submitButton').addEventListener('click', function () {
            document.getElementById('modifyForm').submit(); // Soumission manuelle
         })
         function handleCheckboxChange() {
            var checkbox = document.getElementById('checkboxInscription');
            var dateLimiteDiv = document.getElementById('date_limite_inscription_div');
            var inputValueCheckbox = document.getElementById('inscriptionCheckbox');

            if (checkbox.checked) {
               dateLimiteDiv.classList.add('invisible');
               inputValueCheckbox.value = "true";
            } else {
               dateLimiteDiv.classList.remove('invisible');
               inputValueCheckbox.value = "false";
            }
         }
         $(document).ready(function () {
            $('#motsCles').select2({
               placeholder: "Selectionner des mots clés",
               allowClear: true
            });
         });
      </script>

      <script src="/accueil.js" onload="initAccueil()"></script>
   </div>

   <%- include('./shared/footer.ejs')%>