<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>


<div class=" w-100 d-flex flex-column justify-content-center" style="background-color: rgb(242, 243, 243);">
    <h1 class="d-flex justify-content-center mb-4"> Profil de <%=userProfil.nom %> <%=userProfil.prenom %></h1>
        <div class="container d-flex justify-content-center my-4">
            <div>
                <div style="width: 200px; height:200px">
                    <img src="/images/<%=userProfil.photo %>" class="img-fluid">
                </div>
                <div>
                    <%=userProfil.nom %>
                </div>
                <div>
                    <%=userProfil.prenom %>
                </div>
                <div>
                    <%=userProfil.email %>
                </div>
            </div>

        </div>
    </div>
    <%- include('./shared/footer.ejs')%>