<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>
    <div class="min-vh-100 w-100 d-flex justify-content-center "
        style="background-color: rgb(242, 243, 243); margin-left: 14%;">
        <div class="w-50 d-flex flex-column spacingContentNavBarre">
            <div class=" w-100 d-flex justify-content-center">
                <img src="/images/<%=userProfil.photo %>" width="200" height="200"
                    class="img-fluid rounded-circle border border-info p-1 bg-white">
            </div>
            <h1 class="d-flex justify-content-center mb-4 mt-1 " id="identite">
                <%=userProfil.nom %>
                    <%=userProfil.prenom %>
            </h1>
            <div class="w-100 d-flex justify-content-center">
                <div class="d-flex w-50 justify-content-around">
                    <div class="d-flex align-items-center">
                        <div class="fw-bold fs-5 me-2">Email :</div>
                        <div class="fs-5">
                            <%=userProfil.email %>
                        </div>
                    </div>
                    <% if(user.id===userProfil.id){ %>
                        <div class="">
                            <button class="btn btn-success fs-5 p-1">
                                <a href="/modification/profil/<%= userProfil.id%>"
                                    class="text-decoration-none text-white">
                                    Modifier son profil</a>
                            </button>
                        </div>
                        <% } else {%>
                            <div class="">
                                <button class="btn btn-success fs-6 border p-2" id="btnModalMessage"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Envoyer un message
                                    <i class="fas fa-pen-to-square fa-lg ms-1 "></i>
                                </button>
                            </div>
                            <% } %>
                </div>
            </div>
            <div class=" d-flex mt-3" style="height: 700px;">
                <div class="w-50 h-100 border me-3 bg-white rounded p-2 d-flex flex-column" id="1">
                    <div class="d-flex flex-column h-100">
                        <div class="d-flex border-bottom" style="height: 12%;">
                            <div class="titreProfil fs-3 d-flex align-items-center w-50">Ses évènements</div>
                            <div class="d-flex align-items-center w-50 justify-content-around">
                                <button class="btn btn-choice-event actif fs-5 fw-bold" id="actifBtn">Actif</button>
                                <div class="fs-5">ou</div>
                                <button class="btn btn-choice-event inactif fs-5 fw-bold" id="pastBtn">Passés</button>
                            </div>
                        </div>
                        <div style="height: 88%;">
                            <div class="h-100 d-flex flex-column vh-100-max overflow-auto" id="ActiveEventContent">
                                <% for (const eventActif of evenementsActifs){ %>
                                    <div class="d-flex w-100 pb-2 pt-3 border-bottom">
                                        <div class="d-flex flex-column" style="width: 65%;">
                                            <div class=" d-flex align-items-center fw-bold fs-5 fst-italic">
                                                <%= eventActif.titre %>
                                            </div>

                                            <div class="w-75 d-flex justify-content-center align-items-center">
                                                <img src="http://localhost:3000/images/espace-reserve.png" width="20"
                                                    height="20" class="mx-2">
                                                <%= eventActif.lieu %>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center fs-6"
                                            style="width: 10%;"><i class="fa-solid fa-clock"></i></div>
                                        <div class="d-flex flex-column justify-content-center" style="width: 25%;">
                                            <div class="d-flex justify-content-center ">
                                                <%= eventActif.dateDebutEvenement.jour %>/<%=
                                                        eventActif.dateDebutEvenement.mois %> au <%=
                                                            eventActif.dateFinEvenement.jour %>/<%=
                                                                eventActif.dateFinEvenement.mois %>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <%= eventActif.dateFinEvenement.annee %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="h-100 d-flex flex-column d-none" id="pastEventContent">
                                <% for (const eventFini of evenementsFinis){ %>
                                    <div class="d-flex w-100 pb-2 pt-3 border-bottom">
                                        <div class="d-flex flex-column" style="width: 65%;">
                                            <div class=" d-flex align-items-center fw-bold fs-5 fst-italic">
                                                <%= eventFini.titre %>
                                            </div>

                                            <div class="w-75 d-flex justify-content-center align-items-center">
                                                <img src="http://localhost:3000/images/espace-reserve.png" width="20"
                                                    height="20" class="mx-2">
                                                <%= eventFini.lieu %>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center fs-6"
                                            style="width: 10%;"><i class="fa-solid fa-clock"></i></div>
                                        <div class="d-flex flex-column justify-content-center" style="width: 25%;">
                                            <div class="d-flex justify-content-center ">
                                                <%= eventFini.dateDebutEvenement.jour %>/<%=
                                                        eventFini.dateDebutEvenement.mois %> au <%=
                                                            eventFini.dateFinEvenement.jour %>/<%=
                                                                eventFini.dateFinEvenement.mois %>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <%= eventFini.dateFinEvenement.annee %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-50 h-100 border bg-white rounded p-2 d-flex flex-column" id="1">
                    <div class="titreProfil fs-3 d-flex align-items-center border-bottom" style="height: 12%;">Évènements auxquels il a participé</div>
                    <% for(const eval of evaluations){ %>
                        <div class="d-flex w-100 mb-3 border-bottom pb-2 pt-3">
                            <div class="me-3 d-flex flex-column" style="width: 20%;">
                                <div class="fw-bold d-flex justify-content-center fs-4">
                                    <%= eval.evaluation%>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <% for (let i=0 ; i < 5; i++){ %>
                                        <% if(i <=(eval.evaluation -1) ){ %>
                                            <img src="/images/etoile.png" alt="" width="20" height="20">
                                            <% } else { %>
                                                <img src="/images/etoile-blanche.png" alt="" width="19" height="19">
                                                <% } %>
                                                    <% } %>
                                </div>
                            </div>
                            <div class="d-flex flex-column " style="width: 55%;">
                                <div class="d-flex ">
                                    <div class="fw-bold me-2">
                                        <%= eval.identite%>
                                    </div>
                                </div>
                                <div class="mt-2 d-flex flex-column">
                                    <div class="fw-bold fs-5 mb-2">
                                        <%= eval.titre%>
                                    </div>
                                    <div>
                                        <%= eval.commentaire%>
                                    </div>
                                </div>
                            </div>
                            <div class="w-25 d-flex justify-content-center align-items-center">
                                <%= eval.dateEvaluation.jour %>
                                    <%= eval.dateEvaluation.moisNom %>
                                        <%= eval.dateEvaluation.annee %>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('./shared/modalMessagerie.ejs') %>
        <script>
            $(document).ready(function () {
                var identite = document.getElementById('identite').innerText;
                var displayText = 'Envoyer un message à : ' + identite;
                // Ouvrir le modal lorsque le bouton est cliqué
                $('#btnModalMessage').on('click', function () {
                    console.log('click')
                    $('#exampleModal').modal('show');
                    $('#titreModal').text(displayText);
                });
            });
        </script>
        <script>
            let actifBtn = document.getElementById('actifBtn');
            let pastBtn = document.getElementById('pastBtn');
            let activContent = document.getElementById('ActiveEventContent');
            let pastContent = document.getElementById('pastEventContent');

            actifBtn.addEventListener('click', () => {
                if (!actifBtn.classList.contains('actif')) {
                    actifBtn.classList.replace('inactif', 'actif')
                    pastBtn.classList.replace('actif', 'inactif')
                    activContent.classList.remove('d-none')
                    pastContent.classList.add('d-none')
                }
            })
            pastBtn.addEventListener('click', () => {
                if (!pastBtn.classList.contains('actif')) {
                    pastBtn.classList.replace('inactif', 'actif')
                    actifBtn.classList.replace('actif', 'inactif')
                    activContent.classList.add('d-none')
                    pastContent.classList.remove('d-none')
                }
            })
        </script>
        <%- include('./shared/footer.ejs')%>