<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>

   <div class=" w-100 d-flex justify-content-center" style="background-color: rgb(242, 243, 243);">

      <div class=" d-flex flex-column mt-4" style="width : 45%;">
         <div class="d-flex mb-2" style="height:440px">
            <div class=" h-100 d-flex flex-column mr-1" style="width : 30%;">
               <div class="h-50 bg-white rounded border mr-1 mb-1 d-flex justify-content-center align-items-center">
                  <div class="w-75">
                     <div class="w-100 text-center mb-2 h-25 d-flex justify-content-around ">
                        <img src="/images/organisateur.png" width="45" height="45">
                        <div class="fw-bold fs-4 d-flex align-items-center">Organisateur</div>
                     </div>
                     <div class="text-center h-75 d-flex align-items-center justify-content-center fst-italic fs-5">
                        <%= evenement.organisateurNom %>
                           <%= evenement.organisateurPrenom %>
                     </div>
                  </div>

               </div>
               <div class="h-50 bg-white rounded border mr-1 d-flex align-items-center justify-content-around fs-5">
                  <% evenement.motsCles.forEach(mot=> { %>
                     <div class="">
                        <%= mot %>
                     </div>
                     <% }); %>
               </div>
            </div>
            <div class="position-relative containerImg cursor-pointer" style="width:70%; height:100%;" id="imgToInputFile">
               <img src="/images/<%= evenement.photo %>" class="w-100 h-100 rounded border mx-1 custom-shadow">
               <div class="overlay border p-2 border-white">Changer la photo de l'évènement</div>
               <input type="file" style="display: none;" id="fileInput">
            </div>
            
         </div>
         <div class="mb-2 w-100 bg-white rounded border px-2 py-3 fw-bold fs-5">
            <%= evenement.titre %>
         </div>
         <div class="mb-2 w-100 bg-white rounded border px-2 py-3 fs-5">
            <%= evenement.lieu %>
         </div>
         <div class="mb-2 w-100 bg-white rounded border px-2 py-3 d-flex flex-column ">
            <div class="border-b mb-2 fw-bold fs-5">Description de l'évènement</div>
            <div class="p-3 rounded border fs-6">
               <%= evenement.description %>
                  <%= evenement.description %>
                     <%= evenement.description %>
                        <%= evenement.description %>
                           <%= evenement.description %>
                              <%= evenement.description %>
            </div>
         </div>
         <div class="d-flex justify-content-center mb-2 w-100 bg-white rounded border px-2 py-3">
            <div class="w-50 ">

               <div class="mb-2 px-1 fs-5 fw-bold">
                  Début de l'évènement :
               </div>
               <div class="w-75 mx-1 p-1  d-flex justify-content-between cursor-pointer dateForm " id="dateDebutDiv">
                  <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold ">
                     <%= evenement.date_debut_evenement.jour %>
                  </div>
                  <div class="w-50 d-flex flex-column justify-content-center ">
                     <div class="fw-bold">
                        <%= evenement.date_debut_evenement.moisNom %>
                     </div>
                     <div>
                        <%= evenement.date_debut_evenement.heures %>:<%= evenement.date_debut_evenement.minutes %>
                     </div>
                     <input type="datetime-local" id="dateDebutInput" style="display: none;">
                  </div>
                  <div class="w-25 d-flex  justify-content-center align-items-center">
                     <img src="/images/plus.png" width="40" height="40">
                  </div>
               </div>
            </div>
            <div class="w-50">

               <div class="mb-2 px-1 fs-5 fw-bold">
                  Fin de l'évènement :
               </div>
               <div class="w-75 mx-1 p-1  d-flex justify-content-between cursor-pointer dateForm">

                  <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold ">
                     <%= evenement.date_fin_evenement.jour %>
                  </div>
                  <div class="w-50 d-flex flex-column justify-content-center ">
                     <div class="fw-bold">
                        <%= evenement.date_fin_evenement.moisNom %>
                     </div>
                     <div>
                        <%= evenement.date_fin_evenement.heures %>:<%= evenement.date_fin_evenement.minutes %>
                     </div>

                  </div>
                  <div class="w-25 d-flex  justify-content-center align-items-center">
                     <img src="/images/plus.png" width="40" height="40">
                  </div>
               </div>
            </div>
         </div>
         <div class="d-flex flex-column justify-content-center mb-2 w-100 bg-white rounded border px-2 py-3 mb-1">
            <div class="w-100 d-flex">
               <div class="w-50 ">
                  <div class="mb-2 px-1 fs-5 fw-bold">
                     Date limite d'inscription :
                  </div>
                  <div class="w-75 mx-1 p-1 dateForm cursor-pointer d-flex justify-content-between">

                     <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold ">
                        <%= evenement.date_final_inscription.jour %>
                     </div>
                     <div class="w-50 d-flex flex-column justify-content-center ">
                        <div class="fw-bold">
                           <%= evenement.date_final_inscription.moisNom %>
                        </div>
                        <div>
                           <%= evenement.date_final_inscription.heures %>:<%= evenement.date_final_inscription.minutes
                                 %>
                        </div>

                     </div>
                     <div class="w-25 d-flex  justify-content-center align-items-center">
                        <img src="/images/plus.png" width="40" height="40">
                     </div>
                  </div>
               </div>
               <div class="w-50">

                  <div class="mb-2 px-1 fs-5 fw-bold">
                     Places maximum :
                  </div>
                  <div class="w-75 mx-1 p-1 border d-flex ">
                     <%= evenement.nb_participants_max %>
                  </div>
               </div>

            </div>
            <div class="d-flex justify-content-center w-100 bg-white  border-top mt-4">
               <button class="w-50 mt-3 btn btn-primary mb-3 fs-4 "> Modifier l'évènement</button>

            </div>
         </div>


      </div>
      <script>
         document.getElementById('imgToInputFile').addEventListener('click',function(){
            document.getElementById('fileInput').click()
         });
         document.getElementById('dateDebutDiv').addEventListener('click',function(){
            event.stopPropagation();  // Empêche la propagation du clic à l'élément parent
            document.getElementById('dateDebutInput').click()
         });
      </script>
      <%- include('./shared/footer.ejs')%>