<style>
    .select2-container--default .select2-selection--multiple {
     padding: 4px 10px 10px 10px;
     border: solid 2px #c0c0c0 ;
     border-radius: 8px;
 }
 </style>
<div class=" d-flex flex-column spacingContentNavBarre" style="width : 45%;">
    <div class="d-flex mb-1" style="height:440px">
        <div class=" h-100 d-flex flex-column mr-1" style="width : 30%;">
            <div class="h-50 bg-white rounded border mr-1 mb-1 d-flex justify-content-center align-items-center">
                <div class="w-75">
                    <div class="w-100 text-center mb-2 h-25 d-flex justify-content-around ">
                        <img src="/images/organisateur.png" width="45" height="45">
                        <div class="fw-bold fs-4 d-flex align-items-center">Organisateur</div>
                    </div>
                    <div class="text-center h-75 d-flex align-items-center justify-content-center fst-italic fs-5">
                        <%= evenement.organisateurNom %>
                            <%= evenement.organisateurPrenom %>
                    </div>
                </div>
            </div>
            <div
                class="h-50 bg-white rounded border mr-1 d-flex align-items-center justify-content-center fs-5 flex-column">
                <div style="width: 80%; height: 80%;" class="d-flex flex-nowrap">
                    <%= evenement.motsCles.join(', ') %>
                                </div>
                        </div>
                    </div>
                                <div class="position-relative " style="width:70%; height:100%;">
                                        <img src="/images/<%= evenement.photo %>"
                                            class="w-100 h-100 rounded border mx-1 custom-shadow">
                                        <div class="overlay border p-2 border-white">Changer la photo de l' évènement
                        </div>
                </div>
            </div>
            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 fw-bold fs-5">
                <%= evenement.titre %>
            </div>
            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 fs-5">
                <span class="fw-bold me-3">Lieu de l'évènement : </span>
                <a href="https://www.google.fr/maps/place/<%=evenement.nom_ville %>/"
                    onclick="window.open(this.href); return false;" class="underline">
                    <%= evenement.nom_ville %>
                </a>

            </div>
            <div class="mb-2 w-100 bg-white rounded border px-2 py-3 d-flex flex-column ">
                <label class="border-b mb-2 fw-bold fs-5" for="description">Description de
                    l'évènement</label>
                <div class="p-3 rounded border fs-5">
                    <%= evenement.description %>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-2 w-100 bg-white rounded border px-2 py-3">
                <div class="w-50 ">

                    <div class="mb-2 px-1 fs-5 fw-bold">
                        Début de l'évènement :
                    </div>
                    <div class="w-75 mx-1 p-1  d-flex justify-content-between border" id="dateDebutDiv">
                        <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold "
                            id="debutEvenementJour">
                            <%= evenement.date_debut_evenement.jour %>
                        </div>
                        <div class="w-75 d-flex flex-column justify-content-center ">
                            <div class="fw-bold fs-5" id="debutEvenementMois">
                                <%= evenement.date_debut_evenement.moisNom %>
                                    <%= evenement.date_debut_evenement.annee %>
                            </div>
                            <div id="debutEvenementHeure">
                                <%= evenement.date_debut_evenement.heures %>:<%= evenement.date_debut_evenement.minutes
                                        %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-50">

                    <div class="mb-2 px-1 fs-5 fw-bold">
                        Fin de l'évènement :
                    </div>
                    <div class="w-75 mx-1 p-1  d-flex justify-content-between border" id="dateFinalDiv">

                        <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold "
                            id="finEvenementJour">
                            <%= evenement.date_fin_evenement.jour %>
                        </div>
                        <div class="w-75 d-flex flex-column justify-content-center ">
                            <div class="fw-bold fs-5" id="finEvenementMois">
                                <%= evenement.date_fin_evenement.moisNom %>
                                    <%= evenement.date_fin_evenement.annee %>
                            </div>
                            <div id="finEvenementHeure " class="fs-6">
                                <%= evenement.date_fin_evenement.heures %>:<%= evenement.date_fin_evenement.minutes %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center mb-2 w-100 bg-white rounded border px-2 py-3 mb-1">
                <div class="w-100 d-flex">
                    <% if(evenement.participation_pendant_evenement===0){%>

                        <div class="w-50 ">
                            <div class="mb-2 px-1 fs-5 fw-bold">
                                Date limite d'inscription :
                            </div>
                            <div class="w-75 mx-1 p-1 d-flex justify-content-between border" id="dateInscriptionDiv">

                                <div class="w-25 d-flex justify-content-center align-items-center fs-1 fw-bold "
                                    id="inscriptionEvenementJour">
                                    <%= evenement.date_final_inscription.jour %>
                                </div>
                                <div class="w-75 d-flex flex-column justify-content-center ">
                                    <div class="fw-bold fs-5" id="inscriptionEvenementMois">
                                        <%= evenement.date_final_inscription.moisNom %>
                                            <%= evenement.date_final_inscription.annee %>
                                    </div>
                                    <div id="inscriptionEvenementHeure">
                                        <%= evenement.date_final_inscription.heures %>:<%=
                                                evenement.date_final_inscription.minutes %>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <% } %>
                            <div class="w-50">

                                <div class="mb-2 px-1 fs-5 fw-bold">
                                    Places disponibles :
                                </div>

                                <div class="w-75 mx-1 p-1 border d-flex fs-1">
                                    <%= evenement.nb_participants_max - evenement.nbParticipants%>
                                </div>
                            </div>
                </div>
                <% if (locals.user.id===evenement.organisateur_id) { %>
                    <div class="d-flex justify-content-center align-items-center w-100 bg-white  border-top mt-4">
                            <a href="/modifier/evenement/<%= evenement.id%>" class="mt-4 mb-2 fs-4 btn btn-cool-blues btn-rounded fs-4 fw-bold text-decoration-none ">
                                Modifier
                                l'évènement
                            </a>
                    </div>
                    <% } else { %>
                        <div class="w-100 d-flex justify-content-center  border-top mt-4 ">

                            <div class="d-flex justify-content-around w-75 bg-white mt-3">

                                <% if ( evenement.statut_id !==2 && evenement.statut_id !==4) {%>
                                    <% if (participation===false && (enCours==="Valide" || enCours==="Actuel"  &&
                                        evenement.participation_pendant_evenement==1) ) {%>
                                        <%if((evenement.nb_participants_max - evenement.nbParticipants) !==0){%>
                                            <a href="/participation/<%= evenement.id %>"
                                                class="btn btn-cool-blues btn-rounded fs-4 fw-bold text-decoration-none ">
                                                S'inscrire
                                            </a>
                                            <%} else {%>
                                                <div
                                                    class="d-flex justify-content-center align-items-center fs-4 fw-bold text-danger">
                                                    L'évènement est complet !
                                                </div>
                                                <%} %>
                                                    <% } %>
                                                        <% if (participation===true && enCours==="Valide" ) {%>
                                                            <a href="/desinscription/<%= evenement.id %>"
                                                                class="btn btn-cool-blues btn-rounded fs-4 fw-bold text-decoration-none">
                                                                Se désinscrire
                                                            </a>
                                                            <% } %>
                                                                <button type="button" id="btnModalMessage"
                                                                    class="btn btn-cool-blues btn-rounded fs-4 fw-bold text-decoration-none"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#exampleModal">
                                                                    Partager
                                                                    <span class="fa-stack"> <i
                                                                            class="fa-solid fa-share-from-square fa-stack-1x"></i>
                                                                    </span>
                                                                </button>
                                                                <% } %>
                                                                    <% if ( evenement.statut_id===2 ){%>
                                                                        <div
                                                                            class="d-flex w-100 justify-content-around">
                                                                            <div
                                                                                class="fs-4 fw-bold d-flex align-items-center">
                                                                                L'évènement est terminé.</div>
                                                                            <% if (participation===true) {%>
                                                                                <div class="d-flex justify-content-center"
                                                                                    style="width: 45%;">
                                                                                    <a href="/evaluations/evenement/<%= evenement.id %>"
                                                                                        class="btn btn-cool-blues btn-rounded fs-4 fw-bold text-decoration-none">
                                                                                        Évaluer l'évènement
                                                                                    </a>
                                                                                </div>
                                                                                <% } %>
                                                                        </div>
                                                                        <% } %>
                                                                            <% if ( evenement.statut_id===5 &&
                                                                                enCours===false &&
                                                                                participation===false) {%>
                                                                                <div>L'évènement est en cours.</div>

                                                                                <% } %>
                            </div>

                        </div>
                        <% } %>
            </div>
        </div>
    </div>
    <% if (locals.user.id!==evenement.organisateur_id) { %>
        <!-- Modal -->
        <%- include('./modalEvenement.ejs') %>
            <% } %>

</div>
<script>
    $(document).ready(function () {
        $('#usersSelect').select2({ placeholder: "Rechercher un utilisateur...", allowClear: true });
        $('#usersSelect').select2({
            dropdownParent: $('#exampleModal')
        });
        // Ouvrir le modal lorsque le bouton est cliqué
        $('#btnModalMessage').on('click', function () {
            $('#exampleModal').modal('show');

            let displayText = `Partager l'évènement : <%= evenement.titre%>`
            $('#titreModal').text(displayText);
        });
    });
</script>