<nav>
    <div class="navbar navbar-light navbar-expand-md px-3 shadow" style="background-color: rgb(255, 255, 255);">
        <div style="width: 10%;">
            <a href="/" class="navbar-brand">
                <img src="/images/Event1.png" alt="" width="235px" height="70px" />
            </a>
        </div>

        <div style="width: 30%;">
            <div class="ms-2 input-icons position-relative">
                <i
                    class="fa-solid fa-magnifying-glass position-absolute translate-bottom mt-2 ms-2 ps-1  text-secondary"></i>
                <input class="form-control" id="searchInput" type="text" />
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center" style="width:60%;" id="menu">
            <div class=" h-100 d-flex justify-content-around align-items-center me-5" style="width:50%;">

                <% if (!locals.user) { %>
                    <li class="fw-bolder navButton px-3 rounded-pill border-dashed-success d-flex align-items-center">
                        <img src="/images/plus.png" width="24" height="24">
                        <a href="/register" class="nav-link fs-4 text-dark ms-2">Création de compte</a>
                    </li>
                    <li
                        class="ms-5 fw-bolder navButton px-3 rounded-pill border-dashed-success d-flex align-items-center">
                        <img src="/images/connexion.png" width="24" height="24">
                        <a href="/login" class="nav-link fs-4 text-dark ms-2">Connexion</a>
                    </li>
                    <% } %>
                        <% if (locals.user) {%>


                            <div class="" id="ajout">
                                <li
                                    class="h-100 fw-bolder navButton px-3 rounded-pill border-dashed-create d-flex align-items-center ">
                                    <img src="/images/plus.png" width="24" height="24">
                                    <a href="/creation" class="nav-link fs-4 text-dark ms-2 align-items-center">Ajouter
                                        un évènement</a>
                                </li>
                            </div>
                            <% if(nbNotifMessageNonLus){ %>
                                <div class="d-flex justify-content-between" style="width: 15%;" id="notifications">

                                    <a href="/messagerie/<%= user.id %>" class="lienNotificationMessage text-body">
                                        <i class="fas fa-message fa-2x"></i>
                                        <% if(nbNotifMessageNonLus> 9){ %>
                                            <span class="badge rounded-pill badge-notification bg-danger">9+</span>
                                            <% } %>
                                                <% if(nbNotifMessageNonLus> 0 && nbNotifMessageNonLus < 9){ %>
                                                        <span class="badge rounded-pill badge-notification bg-danger">
                                                            <%= nbNotifMessageNonLus %>
                                                        </span>
                                                        <% } %>
                                    </a>
                                    <% } else {%>
                                        <a href="" class="lienNotificationMessage text-body">
                                            <i class="fas fa-message fa-2x"></i>
                                        </a>


                                </div>
                                <% } %>
                                <% if(nbNotifEventNonLus){ %>
                                    <div class="d-flex justify-content-between" style="width: 15%;" id="notifications">
    
                                        <a href="/messagerie/<%= user.id %>" class="lienNotificationMessage text-body">
                                            <i class="fas fa-envelope fa-2x"></i>
                                            <% if(nbNotifMessageNonLus> 9){ %>
                                                <span class="badge rounded-pill badge-notification bg-danger">9+</span>
                                                <% } %>
                                                    <% if(nbNotifEventNonLus> 0 && nbNotifEventNonLus < 9){ %>
                                                            <span class="badge rounded-pill badge-notification bg-danger">
                                                                <%= nbNotifEventNonLus %>
                                                            </span>
                                                            <% } %>
                                        </a>
                                        <% } else {%>
                                            <a href="" class="lienNotificationMessage text-body">
                                                <i class="fas fa-envelope fa-2x"></i>
                                            </a>
    
    
                                    </div>
                                    <% } %>
                                    <div id="logoProfil">
                                        <li
                                            class="ms-5 mr-5 h-100 fw-bolder navButton px-2 rounded-pill border-dashed-profil d-flex align-items-center ">
                                                <img class="rounded-circle border border-secondary p-1" src="/images/<%= user.photo %>" width="40" height="40">
                                        </li>
                                    </div>

                                    <% } %>
            </div>
        </div>
    </div>
</nav>